table {
  width: 100%;
  border-collapse: collapse;
  
}

th.mat-header-cell, td.mat-cell {
  padding: 12px;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

button {
  margin: 0 4px;
}
