
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
:root {
  --toolbar-h: 56px;   /* alto del toolbar */
  --sidebar-w: 260px;  /* ancho del sidebar */
}
html {
  @include mat.theme((
    color: (
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Estilo general */
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;
  box-sizing: border-box;
  background-color: colorDeFondo;
}

/* Encabezado */
.toolbar {
  background-color: colorDeFondo;
  color: rgb(8, 8, 8);
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Menú de navegación */
.navbar {
  background-color: ColorDeFondo;
  padding: 1rem;
  border-radius: 8px;
}

/* Contenido principal */
.content {
  background-color: ColorDeFondo;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
}

/* Tabla de estudiantes */
app-students-table {
  display: block;
  width: 100%;
}

/* Formulario de agregar */
app-add-form {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: ColorDeFondo;
  border-radius: 8px;
}

/* Responsividad */
@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  .toolbar,
  .navbar,
  .content,
  app-add-form {
    padding: 0.8rem;
    font-size: 0.95rem;
  }

  table {
    font-size: 0.85rem;
  }

  .ColorDeFondo {
    background-color: #6e6e6e;
  }
}
